@reference "#globals.css";

.footnote {
  @apply mb-9 mt-72;
}

.footnote h2,
.footnote div,
.footnote p,
.footnote li {
  @apply text-sm text-gray-500;
}

/* Override margin for heading and paragraph */
.footnote.footnote h2,
.footnote.footnote div,
.footnote.footnote p,
.footnote.footnote li {
  @apply my-0;
}
