.admonition {
  @apply mt-0 mb-9 rounded-none;
}

.admonition[role='alert'] div,
.admonition ol,
.admonition ul {
  @apply mb-3;
}

.admonition ol li::before {
  @apply mr-1;
}

.admonition div:last-child,
.admonition ol:last-child,
.admonition ul:last-child,
.admonition[role='alert'] li {
  @apply my-0;
}

.admonition[role='alert'] code {
  @apply text-sm;
}
