/* Add dark mode support for Markdown HTML tags */
h1,
h2,
h3,
h4,
h5,
div:not(.sp-error-message),
section {
  @apply dark:text-light;
}

/* Add dark mode support for table of contents links */
.ant-anchor-link-title {
  @apply dark:text-light dark:hover:text-secondary dark:focus:text-secondary;
}

.ant-anchor-link-title-active {
  @apply dark:text-primary;
}

/* Add dark mode support for admonition title */
.ant-alert-message {
  @apply dark:text-light;
}

/* Remove arrow icon from GFM task list item */
li.task-list-item > span {
  @apply hidden;
}

li.task-list-item > div {
  @apply ml-0;
}

/* Heading link transition */
.mdx-heading:hover > .mdx-hash-link,
.mdx-heading:focus > .mdx-hash-link {
  @apply opacity-100;
}

@media (hover: none) {
  .mdx-hash-link[aria-hidden][href] {
    @apply opacity-100;
  }
}

/* Remove border radius */
.ant-checkbox-inner,
.ant-ribbon,
.ant-card-cover img {
  @apply rounded-none;
}
