/* Reset ant design font family and font size */
[class^='ant-typography'],
[class*=' ant-typography'],
a[class^='ant-typography'],
a[class*=' ant-typography'],
div[class^='ant-typography'],
div[class*=' ant-typography'],
span[class^='ant-typography'],
span[class*=' ant-typography'],
.ant-anchor-link-title,
.ant-anchor-link-title-active {
  font-family: var(--font-stack);
  font-size: inherit;
}

/* Add dark mode support for Markdown HTML tags */
h1,
h2,
h3,
h4,
h5,
div:not(.sp-error-message),
section {
  @apply dark:text-light;
}

/* Add dark mode support for table of contents links */
.ant-anchor-link-title.ant-anchor-link-title {
  @apply hover:text-secondary dark:text-light dark:hover:text-secondary dark:focus:text-secondary;
}

/* Add dark mode support for admonition title */
.ant-alert-message {
  @apply dark:text-light;
}

/* Remove arrow icon from GFM task list item */
li.task-list-item > span {
  @apply hidden;
}

li.task-list-item > div {
  @apply ml-0;
}

/* Heading link transition */
.mdx-heading:hover > .mdx-hash-link,
.mdx-heading:focus > .mdx-hash-link {
  @apply opacity-100;
}

@media (hover: none) {
  .mdx-hash-link[aria-hidden][href] {
    @apply opacity-100;
  }
}
