.env linguist-detectable=false
*.env linguist-detectable=false
config.js linguist-detectable=false
*.config.js linguist-detectable=false

jest.*.js linguist-detectable=false
scripts/*.js linguist-detectable=false
__mocks__/*.js linguist-detectable=false
