.typing {
  overflow: hidden;
  border-right: 0.15em solid #fff;
  width: 0;
  white-space: nowrap;
  animation: typing 5s steps(40, end);
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
