/* thanks for 'https://github.com/sindresorhus/github-markdown-css' */
.markdown-body {
  text-size-adjust: 100%;
  line-height: 1.5;
  color: #212529;
  font-size: 16px;
  word-wrap: break-word;
  font-family: 'Spectral', 'Noto Serif SC', 'Noto Sans SC', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.markdown-body *,
.markdown-body *::before,
.markdown-body *::after {
  box-sizing: border-box;
  font-family: inherit;
}

.markdown-body::before {
  display: table;
  content: '';
}

.markdown-body::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body a {
  position: relative;
  border-bottom: none;
  background-color: transparent;
  text-decoration: none;
}

.markdown-body a::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #1890ff;
  content: '';
  transition: all 0.2s ease-in-out;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body a:active::before,
.markdown-body a:hover::before {
  left: 0;
  width: 100%;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body img {
  box-sizing: content-box;
  max-width: 100%;
  border-style: none;
  background-color: #fff;
}

.markdown-body img[align='right'] {
  padding-left: 20px;
}

.markdown-body img[align='left'] {
  padding-right: 20px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1.8;
  color: #343a40;
}

.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before {
  content: '#';
  color: inherit;
  position: absolute;
  top: -2px;
  left: -1.3em;
  font-weight: 800;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.markdown-body h1:hover::before,
.markdown-body h2:hover::before,
.markdown-body h3:hover::before,
.markdown-body h4:hover::before,
.markdown-body h5:hover::before,
.markdown-body h6:hover::before {
  opacity: 1;
  transform: scale(1);
}

/* remove anchor added by gatsby-autolink-headers */
.markdown-body h1 svg,
.markdown-body h2 svg,
.markdown-body h3 svg,
.markdown-body h4 svg,
.markdown-body h5 svg,
.markdown-body h6 svg {
  display: none;
}

.markdown-body h2::after {
  position: relative;
  flex-grow: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1em 2px 0 3px;
  border-radius: 2px;
  width: auto;
  height: 3px;
  background: linear-gradient(to right, #3b5998, #54c8ff);
  content: '';
}

.markdown-body h1 {
  display: none;
  font-size: 4em;
}

.markdown-body h2 {
  color: #2185d0;
  font-size: 3em;
}

.markdown-body h3 {
  color: #f76707;
  font-size: 2em;
}

.markdown-body h4 {
  color: #7048e8;
  font-size: 1.5em;
}

.markdown-body h5 {
  font-size: 1.2em;
}

.markdown-body h6 {
  font-size: 1em;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  word-wrap: break-all;
}

.markdown-body li > p {
  margin-top: 20px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body dl {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 20px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 20px;
}

.markdown-body table {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: auto;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body blockquote {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #1890ff;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #54c8ff;
}

.markdown-body hr::before {
  display: table;
  content: '';
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 0 0 6px 6px;
  background: #2d2d2d !important;
}
