.toc {
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.toc ul,
.toc li,
.toc p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.toc ul {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 1em;
  text-align: left;
}

.toc ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.toc a {
  color: #343a40;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  word-wrap: break-all;
  transition: color 0.2 ease-in-out;
}

.toc-expanded {
  transform: scale(1);
}

.toc a:hover {
  color: #1890ff;
}
