.toc ul,
.toc li,
.toc p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.toc ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}

.toc ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  .toc a {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-all;
    transition: none;
  }
}

.toc a {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  word-wrap: break-all;
  transition: color 0.2 ease-in-out;
}
