@reference "#globals.css";

.table {
  @apply mb-9 mt-0 w-fit border-collapse overflow-auto rounded-lg;

  border-spacing: 0;
}

.table th,
.table td {
  @apply px-4 py-2 text-xl font-normal leading-loose;
}

.table thead tr {
  @apply bg-primary font-semibold text-light;
}

.table th:first-child {
  @apply rounded-tl-lg;
}

.table th:last-child {
  @apply rounded-tr-lg;
}

.table tbody tr {
  @apply border-t border-solid border-primary bg-dark text-light;
}

.table tbody tr:nth-child(2n) {
  @apply bg-gray-800 text-light;
}

.table tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}

.table tbody tr:last-child td:last-child {
  @apply rounded-br-lg;
}
