@reference "#globals.css";

.code {
  @apply mb-0 overflow-x-auto rounded-b-lg px-0 py-5;
}

.code div {
  @apply relative;
}

.hover,
.highlight {
  @apply border-l-4 border-solid;
}

.hover {
  @apply border-transparent;
}

.highlight {
  @apply border-l-primary;
}

.hover:hover,
.highlight {
  @apply bg-gray-100/10;
}

.number {
  @apply ml-4 mr-3 inline-block w-6 select-none text-secondary;
}

.placeholder {
  @apply ml-4;
}
