.code {
  @apply relative;
  @apply mt-0 mb-9;
  @apply px-2 pb-1 pt-10;
  @apply bg-dark;
  @apply rounded-t-none rounded-b-md;

  /* TODO: @sabertazimi - Add language specific syntax highlight */
  @apply text-light;
}

.code::before {
  @apply absolute;
  @apply top-0 left-0;
  @apply float-left;
  @apply w-full h-10;
  @apply px-20 py-0;
  @apply text-base font-bold text-light;
  @apply leading-10 indent-4;

  content: attr(data-language);
}

.code::after {
  @apply absolute;
  @apply top-0 left-5;
  @apply w-3 h-3;
  @apply mt-3;
  @apply rounded-full;

  content: '';
  background-color: #f03e3e;
  box-shadow: 20px 0 #f59f00, 40px 0 #37b24d;
}
