.code {
  @apply py-0.5 px-2 !important;
  @apply font-normal !important;
  @apply leading-6 !important;
  @apply break-words !important;
  @apply border border-solid rounded-lg !important;
  @apply shadow-md !important;

  font-family: var(--font-mono) !important;
  font-size: var(--font-size) !important;
  color: var(--light) !important;
  background-color: var(--primary) !important;
  border-color: var(--secondary) !important;
}
