@reference "#globals.css";

.container {
  @apply m-0 flex flex-col flex-wrap p-0 md:flex-row;
}

.editor,
.preview {
  @apply w-full flex-auto border-b border-l border-r border-solid border-dark md:w-1/2;
}

.editor {
  @apply rounded-bl-lg;
}

.preview {
  @apply rounded-br-lg;
}

.error {
  @apply w-full bg-red-100 text-red-700;
}
