@reference "#globals.css";

.pre {
  @apply relative mb-9 mt-0 rounded-lg bg-transparent pb-0 pt-10;
}

.pre::before {
  @apply absolute left-0 top-0 float-left h-10 w-full rounded-t-lg;
  @apply bg-dark px-20 py-0 indent-4 text-base font-bold leading-10 text-light;

  content: attr(data-language);
}

.pre::after {
  @apply absolute left-5 top-0 mt-3 h-3 w-3 rounded-full;

  content: '';
  background-color: #f03e3e;
  box-shadow:
    20px 0 #f59f00,
    40px 0 #37b24d;
}
