@reference "#globals.css";

.anchor {
  @apply relative;
}

.anchor::before {
  @apply absolute -bottom-0.5 left-1/2 h-0.5 w-0 bg-primary transition-all;

  content: '';
}

.anchor:active,
.anchor:hover,
.anchor:focus {
  @apply outline-none;
}

.anchor:active::before,
.anchor:hover::before,
.anchor:focus::before {
  @apply left-0 w-full;
}

@media screen and (prefers-reduced-motion: reduce) {
  .anchor::before {
    @apply transition-none;
  }
}

.anchor[aria-hidden] {
  @apply pl-1 opacity-0 transition-opacity;
}

.anchor[aria-hidden]::before {
  @apply static bg-transparent;

  content: '#';
}
