@import url('https://fonts.googleapis.com/css?family=Spectral:400,800');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&subset=chinese-simplified');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&subset=chinese-simplified');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  font-size: 16px;
  font-family: 'Spectral', 'Noto Serif SC', 'Noto Sans SC', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
input,
div {
  font-family: 'Spectral', 'Noto Serif SC', 'Noto Sans SC', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

h1 {
  font-size: 3em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.875em;
}

h6 {
  font-size: 1.65em;
}

p,
button {
  font-size: 20px;
  font-weight: 400 !important;
}

/* code block background */
.gatsby-highlight {
  position: relative;
  padding-top: 38px;
  border-radius: 6px;
  background: #21252b;
}

/* code block language description */
.gatsby-highlight::before {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 38px;
  content: attr(data-language);
  padding: 0 78px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'Spectral', 'Noto Serif SC', 'Noto Sans SC', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 600;
  text-indent: 15px;
  color: #f8f9fa;
}

/* code block MacOS flags */
.gatsby-highlight::after {
  position: absolute;
  top: 0;
  left: 20px;
  width: 12px;
  height: 12px;
  content: '';
  margin-top: 13px;
  box-shadow: 20px 0 #f59f00, 40px 0 #37b24d;
  border-radius: 50%;
  background: #f03e3e;
}
