span.mb-3 {
  margin-bottom: 0.75rem;
}

span.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

span.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

span.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

span.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

span.font-extrabold {
  font-weight: 800;
}
