@reference "#globals.css";

.ol {
  @apply mb-6 mt-0 list-outside list-none text-inherit;

  counter-reset: li;
}

.ol li > span {
  @apply hidden;
}

.ol > li::before {
  @apply -mt-0.5 mr-2 text-primary;

  content: counters(li, '.') '. ';
  counter-increment: li;
}
