@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/RalewayLatin.woff2') format('woff2');
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --min-width-none: none;
  --min-width-xs: 20rem;
  --min-width-sm: 24rem;
  --min-width-md: 28rem;
  --min-width-lg: 32rem;
  --min-width-xl: 36rem;
  --min-width-2xl: 42rem;
  --min-width-3xl: 48rem;
  --min-width-4xl: 56rem;
  --min-width-5xl: 64rem;
  --min-width-6xl: 72rem;
  --min-width-7xl: 80rem;
  --min-width-prose: 65ch;
  --min-width-screen-sm: 640px;
  --min-width-screen-md: 768px;
  --min-width-screen-lg: 1024px;
  --min-width-screen-xl: 1280px;
  --min-width-screen-2xl: 1536px;
  --max-width-1\/12: 8.333333%;
  --max-width-1\/6: 16.666667%;
  --max-width-2\/12: 16.666667%;
  --max-width-1\/5: 20%;
  --max-width-1\/4: 25%;
  --max-width-3\/12: 25%;
  --max-width-1\/3: 33.333333%;
  --max-width-2\/6: 33.333333%;
  --max-width-4\/12: 33.333333%;
  --max-width-2\/5: 40%;
  --max-width-5\/12: 41.666667%;
  --max-width-1\/2: 50%;
  --max-width-2\/4: 50%;
  --max-width-3\/6: 50%;
  --max-width-6\/12: 50%;
  --max-width-7\/12: 58.333333%;
  --max-width-3\/5: 60%;
  --max-width-2\/3: 66.666667%;
  --max-width-4\/6: 66.666667%;
  --max-width-8\/12: 66.666667%;
  --max-width-3\/4: 75%;
  --max-width-9\/12: 75%;
  --max-width-4\/5: 80%;
  --max-width-5\/6: 83.333333%;
  --max-width-10\/12: 83.333333%;
  --max-width-11\/12: 91.666667%;
  --border-width-5: 5px;
  --border-width-6: 6px;
  --border-width-10: 10px;
  --line-height-1: 0.25rem;
  --line-height-2: 0.5rem;
  --line-height-12: 3rem;
  --line-height-extra-loose: 2.5;
  --z-index-25: 25;
  --z-index-75: 75;
  --z-index-100: 100;
  --z-index-1000: 1000;
  --z-index-max: 9999;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --light: #f8f9fa;
  --dark: #343a40;
  --font-stack:
    'Raleway', 'Spectral', 'Noto Serif SC', 'Noto Sans SC', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', arial, sans-serif, serif;
  --font-size: 18px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@utility bg-gradient-primary {
  @apply bg-linear-to-r from-indigo-700 to-red-500;
}

@utility bg-gradient-secondary {
  background:
    linear-gradient(63deg, #262626 23%, transparent 0) 7px 0,
    linear-gradient(63deg, transparent 73%, #262626 76%),
    linear-gradient(63deg, transparent 34%, #262626 38%, #262626 58%, transparent 62%),
    #222;
  background-size: 16px 48px;
  border-color: var(--color-primary);
  border-style: solid;
  border-bottom-width: 5px;
}

@utility flex-container {
  @apply flex flex-row flex-wrap content-center items-center justify-center;
}

@utility card {
  @apply transform-gpu rounded-lg shadow-xl transition duration-300;
  @apply focus-within:-translate-y-2 focus-within:shadow-2xl hover:-translate-y-2 hover:shadow-2xl;
  @apply dark:border dark:border-solid dark:border-light;
  @apply dark:bg-black dark:shadow-dark dark:focus-within:shadow-primary dark:hover:shadow-primary;
}

@utility outline-focus-visible {
  @apply focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-secondary;
}

@utility dark-menu-link {
  @apply dark:text-light dark:hover:text-primary dark:focus:text-primary;
}

@utility content-auto {
  content-visibility: auto;
}

@utility content-hidden {
  content-visibility: hidden;
}

@utility content-visible {
  content-visibility: visible;
}

@utility contain-size-* {
  contain-intrinsic-size: --value(--height-*);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;

    font-family: var(--font-stack);
    font-size: var(--font-size);
  }

  a {
    @apply outline-focus-visible text-primary hover:text-secondary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  section,
  div:not(.sp-error-message) {
    @apply dark:text-light;
  }

  img {
    @apply inline-block;
  }

  ::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary dark:bg-secondary;
  }
}
