.icon-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-banner > * {
  margin: 0 1em;
  padding: 1.2em;
}

.icon-banner-link {
  margin: 0.25em auto;
  opacity: 1;
  font-size: 2em;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}

.icon-banner-link:hover {
  opacity: 0.85;
  transform: scale(1.2);
}
