body {
  width: 100%;
  font-family: var(--font-stack);
  font-size: var(--font-size);
}

/* Remove arrow icon from GFM task list item */
.task-list-item span,
.task-list-item span svg {
  @apply hidden;
}
