body {
  width: 100%;
  font-family: var(--font-stack);
  font-size: var(--font-size);
}

/* Remove arrow icon from GFM task list item */
li.task-list-item > span {
  @apply hidden;
}

li.task-list-item > div {
  @apply ml-0;
}

/* Center aligning image preview icon */
.ant-image-mask-info {
  @apply flex items-center;
}
