@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1890ff;
  --secondary: #40a9ff;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-stack: 'Raleway', 'Spectral', 'Noto Serif SC', 'Noto Sans SC',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Open Sans', 'Helvetica Neue', arial, sans-serif, serif;
  --font-size: 18px;
}

@layer base {
  img {
    @apply inline-block;
  }
}

@layer components {
  .text-span {
    @apply ml-2 inline-block align-bottom text-xl dark:text-light !important;
  }

  .text-span-lg {
    @apply ml-2 inline-block align-bottom text-3xl font-extrabold !important;
  }

  .text-span-xl {
    @apply ml-2 inline-block align-bottom text-5xl font-extrabold !important;
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-r from-indigo-700 to-red-500 !important;
  }

  .button-primary {
    @apply border-primary bg-primary text-light hover:bg-secondary !important;
  }

  .flex-container {
    @apply flex flex-row flex-wrap content-center items-center justify-center !important;
  }

  .card {
    @apply transform-gpu shadow-xl transition duration-300 !important;
    @apply hover:-translate-y-2 hover:shadow-2xl !important;
    @apply dark:border dark:border-solid dark:border-light !important;
    @apply dark:bg-black dark:shadow-dark dark:hover:shadow-primary !important;
  }
}
