@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1890ff;
  --secondary: #40a9ff;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-stack: 'Raleway', 'Spectral', 'Noto Serif SC', 'Noto Sans SC',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Open Sans', 'Helvetica Neue', arial, sans-serif, serif;
  --font-size: 18px;
}

@layer base {
  img {
    @apply inline-block;
  }
}

@layer components {
  .text-span {
    @apply inline-block ml-2 text-xl align-bottom !important;
  }

  .text-span-lg {
    @apply inline-block ml-2 text-3xl font-extrabold align-bottom !important;
  }

  .text-span-xl {
    @apply inline-block ml-2 text-5xl font-extrabold align-bottom !important;
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-r from-indigo-700 to-red-500 !important;
  }

  .button-primary {
    @apply text-light border-primary bg-primary hover:bg-secondary !important;
  }

  .tag-black {
    @apply bg-black border-black text-light !important;
  }

  .flex-container {
    @apply flex flex-row flex-wrap justify-center items-center content-center !important;
  }
}
