name: Lighthouse

on:
  pull_request:
    branches:
      - main

jobs:
  wait-for-vercel:
    name: Wait for Vercel Preview
    runs-on: ubuntu-latest
    outputs:
      preview_url: ${{ steps.vercel.outputs.url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 1
      - name: Comment pull request
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ github.event.pull_request.number }}
          header: lighthouse
          message: |
            # Lighthouse Report
            :vertical_traffic_light: Waiting for the Vercel preview ...
      - name: Waiting for the Vercel preview
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.2
        id: vercel
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 1200
          check_interval: 15
      - name: Comment preview result
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ github.event.pull_request.number }}
          header: lighthouse
          message: |
            # Lighthouse Report
            :hammer_and_wrench: Running Lighthouse audit on ${{ steps.vercel.outputs.url }} ...

  audit:
    name: Audit ${{ matrix.device }}
    runs-on: ubuntu-latest
    needs: wait-for-vercel
    strategy:
      matrix:
        include:
          - device: Desktop
            locale: en-US
            config: lighthouse.desktop.json
            artifact: lighthouse-results-desktop
          - device: Mobile
            locale: zh-CN
            config: lighthouse.mobile.json
            artifact: lighthouse-results-mobile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 1
      - name: Audit using Lighthouse
        id: lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            ${{ needs.wait-for-vercel.outputs.preview_url }}/${{ matrix.locale }}
            ${{ needs.wait-for-vercel.outputs.preview_url }}/${{ matrix.locale }}/posts
            ${{ needs.wait-for-vercel.outputs.preview_url }}/${{ matrix.locale }}/about
          configPath: ./.github/workflows/${{ matrix.config }}
          uploadArtifacts: true
          artifactName: ${{ matrix.artifact }}
          temporaryPublicStorage: true
      - name: Save results
        id: save
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require('fs');
            const links = ${{ steps.lighthouse.outputs.links }};
            const results = (${{ steps.lighthouse.outputs.manifest }}).filter(result => result.isRepresentativeRun);

            const data = {
              device: '${{ matrix.device }}',
              links: links,
              results: results
            };

            fs.writeFileSync('lighthouse-${{ matrix.device }}.json', JSON.stringify(data));
      - name: Upload results
        uses: actions/upload-artifact@v5
        with:
          name: lighthouse-data-${{ matrix.device }}
          path: lighthouse-${{ matrix.device }}.json

  report:
    name: Generate Report
    runs-on: ubuntu-latest
    needs: audit
    steps:
      - name: Download Desktop results
        uses: actions/download-artifact@v6
        with:
          name: lighthouse-data-Desktop
      - name: Download Mobile results
        uses: actions/download-artifact@v6
        with:
          name: lighthouse-data-Mobile
      - name: Format audit result
        id: result
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require('fs');
            const desktopData = JSON.parse(fs.readFileSync('lighthouse-Desktop.json', 'utf8'));
            const mobileData = JSON.parse(fs.readFileSync('lighthouse-Mobile.json', 'utf8'));

            const score = res => res >= 90 ? ':green_circle:' : res >= 50 ? ':yellow_circle:' : ':red_circle:'

            const formatResults = (data) => {
              return data.results.map((result) => {
                const summary = result.summary
                const url = result.url

                return `
              ### ${data.device} /${url.split('.').slice(-1).join('').split('/').slice(1).join('/')}

              :rocket: [Vercel Preview Deployment](${url})
              :zap: [Lighthouse Report](${data.links[url]})

              | Category | Score |
              | --- | --- |
              ${Object.keys(summary).map((key) => {
                const percentage = Math.round(summary[key] * 100)
                return `| ${score(percentage)} ${key} | ${percentage} |`
              }).join('\n')}

              `
              }).join('')
            };

            const desktopComment = formatResults(desktopData);
            const mobileComment = formatResults(mobileData);
            const comment = `## :desktop_computer: Desktop Report\n${desktopComment}\n\n## :iphone: Mobile Report\n${mobileComment}`;

            core.setOutput("comment", comment);
      - name: Comment audit result
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ github.event.pull_request.number }}
          header: lighthouse
          message: |
            # Lighthouse Report
            ${{ steps.result.outputs.comment }}
