name: Lighthouse

on:
  pull_request:
    branches:
      - main

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 1
      - name: Comment pull request
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ github.event.pull_request.number }}
          header: lighthouse
          message: |
            # Lighthouse Report
            :vertical_traffic_light: Waiting for the Vercel preview ...
      - name: Waiting for the Vercel preview
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.2
        id: vercel
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 1200
          check_interval: 15
      - name: Comment preview result
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ github.event.pull_request.number }}
          header: lighthouse
          message: |
            # Lighthouse Report
            :hammer_and_wrench: Running Lighthouse audit on ${{ steps.vercel.outputs.url }} ...
      - name: Audit using Lighthouse (Desktop)
        id: lighthouse-desktop
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            ${{ steps.vercel.outputs.url }}/en-US
            ${{ steps.vercel.outputs.url }}/en-US/posts
            ${{ steps.vercel.outputs.url }}/en-US/about
          configPath: ./.github/workflows/lighthouse.desktop.json
          uploadArtifacts: true
          artifactName: lighthouse-results-desktop
          temporaryPublicStorage: true
      - name: Audit using Lighthouse (Mobile)
        id: lighthouse-mobile
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            ${{ steps.vercel.outputs.url }}/zh-CN
            ${{ steps.vercel.outputs.url }}/zh-CN/posts
            ${{ steps.vercel.outputs.url }}/zh-CN/about
          configPath: ./.github/workflows/lighthouse.mobile.json
          uploadArtifacts: true
          artifactName: lighthouse-results-mobile
          temporaryPublicStorage: true
      - name: Format audit result
        id: result
        uses: actions/github-script@v8
        with:
          script: |
            const desktopLinks = ${{ steps.lighthouse-desktop.outputs.links }}
            const desktopResults = (${{ steps.lighthouse-desktop.outputs.manifest }}).filter(result => result.isRepresentativeRun)
            const mobileLinks = ${{ steps.lighthouse-mobile.outputs.links }}
            const mobileResults = (${{ steps.lighthouse-mobile.outputs.manifest }}).filter(result => result.isRepresentativeRun)
            const score = res => res >= 90 ? ':green_circle:' : res >= 50 ? ':yellow_circle:' : ':red_circle:'

            const formatResults = (results, links, device) => {
              return results.map((result) => {
                const summary = result.summary
                const url = result.url

                return `
                ### ${device} - ${url}

                :zap: [Lighthouse report](${links[url]})

                | Category | Score |
                | --- | --- |
                ${Object.keys(summary).map((key) => {
                  const percentage = Math.round(summary[key] * 100)
                  return `| ${score(percentage)} ${key} | ${percentage} |`
                }).join('\n')}

                `
              }).join('')
            };

            const desktopComment = formatResults(desktopResults, desktopLinks, ':sparkles: Desktop');
            const mobileComment = formatResults(mobileResults, mobileLinks, ':sparkles: Mobile');
            const comment = `## :desktop_computer: Desktop Report\n${desktopComment}\n\n## :iphone: Mobile Report\n${mobileComment}`;

            core.setOutput("comment", comment);
      - name: Comment audit result
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ github.event.pull_request.number }}
          header: lighthouse
          message: |
            # :rocket: Lighthouse Report
            ${{ steps.result.outputs.comment }}
