.blockquote {
  @apply mx-0 mb-9 border-l-10 border-solid border-primary bg-gray-100 px-6  pt-12 pb-6;

  quotes: '\201C''\201D';
}

.blockquote::before {
  @apply mr-2 align-bottom text-9xl leading-12 text-primary;

  content: open-quote;
}

.blockquote div,
.blockquote p {
  @apply inline italic;
}

/* Keep nested blockquote keep compacted */
.blockquote blockquote {
  @apply ml-2 mb-3;
}
